<div class="row-fluid">
  <div class="span12">
    <div id="aboutbox">
      <div class="span3">
      <%= link_to image_tag('/images/gp-logo.gif', width: 200, alt: "Global Playground", id: "logo"), "http://globalplayground.org" %>
      </div>
      <div class="span5 center">
        <blockquote class="main-quote"><p><em>Your Window Into Classrooms Around the World.</em></p></blockquote>
      </div>
      <div class="offset4">
        <%= link_to image_tag('/images/ds_logo.png', width: 300, alt: "Digital Schoolhouse", id: "logo"), root_url %>
      </div>
    </div>
  </div>
</div>