<% if signed_in? %>
  <li class="divider-vertical"></li>
  <li><%= link_to "Sign Out, #{current_user.name}?", logout_url %></li>
<% else %>
  <!-- TODO: ADD A GET MORE INFO OPTION/FORM?  (-GREG) -->
  <li><%= link_to "Sign In", login_url %></li>
<% end %>