<div class="row-fluid">
  <div id="aboutbox">
    <div class="span3">
      <%= link_to image_tag('/images/digital-schoolhouse-logo.png', width: 300, alt: "Digital Schoolhouse", id: "logo"), root_url -%>
    </div>
    <div class="span5">
      <p class="main-quote"><em>Your Window Into Classrooms Around the World.</em></p>
    </div>
    <div class="span3">
      <%= link_to image_tag('/images/global-playground-logo.png', width: 200, alt: "Global Playground", id: "logo"), "http://globalplayground.org" -%>
    </div>
  </div>
</div>