<% @array_of_post_arrays.each_pair do |name, post_array| %>
  <div style="overflow-x: scroll; display: inline">
  <h2><%= name %></h2>
  <table>
    <tr>
  <% post_array.each do |post| %>
  <td padding="5">
    <h2><%= link_to post.title, post_url(post) %></h2>
      <p><%= body_truncate = truncate(post.body, length: 240, seperator: ' ') %> </p>
      <div id="post-feature-image"><%= post.assets.first.present? ? image_tag(post.assets.first.image.thumb('280x200').url, id: "photo-thumb", alt: "#{body_truncate}") : "No Featured Image" %></div>
  </td>
  
  <% end %>
  </tr>
  </table>
  </div>
  <% end %>
