<!-- The following code is temporary.  It will be removed once we get the Masonry jQuery script working and lookin' good.  **Greg -->
<script>
  $(function(){
    $('#container').masonry({
      // options
      itemSelector : '.item',
      columnWidth : 300
     });
  });
</script>

<div id="container", class="sixteen columns">
  <%#= raw("<h1>Welcome back, #{current_user.name.camelize}</h1>") if signed_in? %>
  <% @posts.each do |post| %>
    <div class="item">
      <h2><%= link_to post.title, post_url(post) %></h2>
      <p><%= truncate(post.body, length: 240, seperator: ' ') %></p>
      <div id="test-box"></div>
    </div>
  <% end %>
</div>