<!-- The following code is temporary.  It will be removed once we get the Masonry jQuery script working and lookin' good.  **Greg -->
<script>
  $(function(){
    $('#container').masonry({
      // options
      itemSelector : '.item',
      columnWidth : 300
     });
  });
</script>



  <% @array_of_post_arrays.each_pair do |name, post_array| %>
<p>&nbsp;</p>
  <div style="overflow-x: scroll">
  <h2><%= name %></h2>
  <table>
    <tr>
  <% post_array.each do |post| %>
  
  <td padding="5">
    <h2><%= link_to post.title, post_url(post) %></h2>
      <p><%= truncate(post.body, length: 240, seperator: ' ') %> </p>
      <div id="test-box"></div>
  </td>
  
  <% end %> <!-- post_array.each do |post|  -->
  </tr>
  </table>
  </div>
  <% end %> <!-- @array_of_post_arrays.each do |post_array|  -->
