<h1>Hello World</h1>

<% if session[:user].blank? %>
<p><%= link_to "Sign Up!", new_user_url %></p>
<p><%= link_to "Sign In!", new_session_url %></p>
<% end %>

<p><%= notice %></p>

<% if session[:user].present? %>
  <p><strong>Hello, <%= User.find_by_id(session[:user]).name %></strong></p>
<% end %>
