// CAUTION: SASS ONLY!!

//  ************************
//  ** Begin SASS Reset Code
//  ** Source: https://gist.github.com/3524
//  ************************

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline
  
//  ************************
//  Begin HTML5 display-role reset for older browsers
//  ************************

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, div
  display: block

body
  line-height: 1

ol, ul
  list-style: none

blockquote, q
  quotes: none

blockquote:before, blockquote:after,
q:before, q:after
  content: ''
  content: none

table
  border-collapse: collapse
  border-spacing: 0
  
//  ************************
//  ** Begin Actual Styling
//  ************************

header, footer, aside, nav, article
  display: block

body 
  margin: 0 auto
  width: 940px
  font: 14px/22px Helvetica, Arial, sans-serif
  background:
    color: #FFF
    image: url("/images/background.gif")
    repeat: no-repeat
    position: 75px 0

// Style of main and item div containers on main index page
#container
  .item
    width: 280px
    margin: 10px 0
    float: left
    border: 1px solid red
    // clear: both
    h1
      font-size: 20px
      border-bottom: 1px solid #999
      padding: 10px 0 10px 0
      
//DELETE THIS  -Greg
#test-box
  background: #2F8EC1
  height: 200px
  width: 280px
  margin: 0 auto
  
h1 
  font-size: 30px
  padding: 22px 0

h2 
  font-size: 24px
  padding: 16px 0

h3 
  font-size: 18px
  padding: 10px 0

p 
  font-size: 14px
  padding: 0px

header 
  float: none
  clear: both
  border-bottom: 1px solid #999

footer
  margin: 40px auto
  width: 940px
  clear: both
  border-top: 1px solid #D7D7D7
  p
    font: 10px/18px Helvetica, Arial, sans-serif
    text-align: center
  a
    text-decoration: underline
    color: #000
    
nav 
  float: right
  margin: 10px
  width: 200px
  background: #B2D0E9
  border: 1px solid #999
  clear: both
  ul 
    margin: 0 auto
    width: 200px
    list-style: none
    li
      margin: 0 auto
      float: left
      a 
        display: block
        margin: 0 auto
        width: 200px
        font-size: 14px
        line-height: 34px
        text:
          align: left
          decoration: none
        color: #777
      a:hover 
        color: #000
        background: #A0BAD2

#notice
  width: 300px
  margin: 0 auto
  color: #FF0900
  font-size: 16px