<div class="create-page">
	<h1 class="header">New Article</h1>
	<h2 class="sub-header"><!-- Currently Editing: <i><%#= @article.article_title %></i> --></h2>

	<%= render 'form' %>

	<%= link_to 'Back', articles_path %>
</div>