<div id="content">
	<div id="main">
		<header class="wrapper">
		<%= link_to image_tag("globalplayground2.gif"), "http://globalplayground.org/", :border=>0, :class => 'header-image' %>
		</header>
			<div class="wrapper threeway">
				<h1 class="large">Thailand</h1>
				<% @articles.reverse.each do |article| %>
					<% if article.user_id == 1 %>
						<%= render 'article_embed',
										:article => article %>
					<% end %>
				<% end %>
			</div>
			<div class="wrapper threeway">
				<h1 class="large">Honduras</h1>
				<% @articles.reverse.each do |article| %>
					<% if article.user_id == 2 %>
						<%= render 'article_embed',
										:article => article %>
					<% end %>
				<% end %>
			</div>
			<div class="wrapper threeway">
				<h1 class="large">United States</h1>
				<% @articles.reverse.each do |article| %>
					<% if article.user_id == 3 %>
						<%= render 'article_embed',
										:article => article %>
					<% end %>
				<% end %>
			</div>
	</div>
</div>