%h1 All (current users) Posts
= link_to "New Post", new_post_url
%table
  - @posts.each do |p|

    %tr
      %td
        %h3= link_to "#{p.title}", edit_post_url(p.id)
      %td
        %p= truncate(p.body, :length => 20, :seperator => ' ')
      %td
        / = link_to "delete post", p, :method => :delete, :confirm => "You sure?", :title => "Delete" NOT WORKING NEEDS ROUTE DEF
        

