<div class="row jumbotron">
  <%= link_to "Cancel / Delete", :back, confirm: "Are you sure you\'d like to cancel and delete this post?", disable_with: "Deleting...", class: "btn" -%>
  <%= link_to "Add Images", assets_url, class: "btn" %>
</div>
<h1>Create New Post</h1>
<div id="form-wrapper">
  <%= render 'form' %>
</div>
