<h1><%= @post.title %></h1>

<p>Written by: <%= @post.user.name %></p>

<p><%= @post.body_html %></p>

<ul>
  <% @post.attachments.each do |attachment| %>  
  <li><%= embed_media(attachment.attachment_url) %></li>
  <% end %>
</ul>