// CAUTION: SASS ONLY!!

//  ************************
//  ** Begin SASS Reset Code
//  ** Source: https://gist.github.com/3524
//  ************************



body 
  background:
    color: #FFF
    image: url("/images/background.gif")
    repeat: no-repeat
    position: 75px 0
  
#container
  .item
    width: 280px
    margin: 10px 0
    float: left
    border: 1px solid red
    // clear: both
    h1
      font-size: 20px
      border-bottom: 1px solid #999
      padding: 10px 0 10px 0

//DELETE THIS  -Greg
#test-box
  background: #2F8EC1
  height: 200px
  width: 280px
  margin: 0 auto

header 
  border-bottom: 1px solid #999
  margin-bottom: 10px
  .head-bg
    margin: 15px 0

footer
  border-top: 1px solid #D7D7D7
  p
    font: 10px/18px Helvetica, Arial, sans-serif
    text-align: center
  a
    text-decoration: underline
    color: #000
    
nav 
  background: rgba(gray, 0.1) //#B2D0E9
  border: 1px solid #C3C3C3
  +box-shadow(rgba(gray, .1) 0 0 12px 4px inset)
  ul  
    list-style: none
    li
      margin: 0 10px
      float: left
      a 
        padding: 8px 3px
        font-size: 14px
        line-height: 34px
        text:
          align: left
          decoration: none
        color: #777
      a:hover 
        color: #000
        background: #A0BAD2
        
#notice
  width: 300px
  margin: 0 auto
  color: #FF0900
  font-size: 16px