<h1>Create New Post</h1>
<div class="row-fluid">
  <div class="span12">
    <%= render 'form' %>
  </div>
</div>


  <%= link_to "Cancel / Delete", :back, confirm: "Are you sure you\'d like to cancel and delete this post?", disable_with: "Deleting...", class: "btn" -%>
  <%= link_to "Add Images", assets_url, class: "btn" %>
