<small>
  © 2011 <%= link_to "Global Playground, Inc.", "http://globalplayground.org/", alt: "Global Playground " -%> | Global Playground is a 501(c)(3) public charity
</small>
<nav>
  <ul>
    <li><%= link_to "About Digital Schoolhouse", about_page_url, alt: "Learn more about Digital Schoolhouse" -%></li>
  </ul>
</nav>
