<small>
  © 2011 <%= link_to 'Global Playground, Inc.', root_url %> | Global Playground is a 501(c)(3) public charity
</small>
<nav>
  <ul>
    <li><%= link_to "About Digital Schoolhouse", about_page_url, alt: "About Digital Schoolhouse" %></li>
  </ul>
</nav>
