<small>
  © 2011 <%= link_to 'Global Playground, Inc.', root_url %> | Global Playground is a 501(c)(3) public charity
</small>
<nav>
  <ul>
    <li></li>
    <li><a href="#">Legal Statement</a></li>
    <li><a href="#">Contact Info</a></li>
    <li><a href="#">Join the Mailing List</a></li>
    <li><a href="#">Facebook</a></li>
  </ul>
</nav>
